<div class="show">
  <%= render partial: "partials/show_common_fields", locals: {banner: @html_banner}%>
  <div class="html_content">
    HTML content: <%= @html_banner.html.html_safe %>
  </div>
</div>



