<div class="controller">
  Controller:<%= banner.controller %>
</div>
<div class="deal_kind">
  Deal kind: <%= banner.deal_kind %>
</div>
<div class="deal_direction">
  Deal Direction:<%= banner.deal_direction %>
</div>
<div class="property_type">
  Property type:<%=  banner.property_type %>
</div>