/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.actions {
  display: none;
}

ul.controller,
.actions ul {
  list-style-type: none;
}

.common_fields div {
  margin-bottom: 10px;
}

.create-edit-banner {
  margin: 0 auto;
  width: 550px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
}

.show .url {
  background-color: #DCDCDC;
  padding: 5px;
  width: 500px;
  border-radius: 5px;
}

.show div {
  margin: 5px 0 ;
}

div.top, div.middle, div.right, div.bottom{
  width: 250px;
  height: 250px;
  margin: 10px;
}

div.top, div.bottom {
  margin: 10px auto;
}

.center div {
  display: inline-block;
}

div.right {
  float: right;
}

div.middle {

}

.panel {
  margin: 0 auto;
  width: 50%;
}

.create_banner {
  margin: 0 auto;
  width: 330px;
  span {
    font-size: 18px;
  }
}

.create_banner ul {
  list-style: none;
  background-color: #474747;
  border-radius: 8px;
  height: 45px;
  width: 330px;
  padding: 10px;
  text-align: center;
  li {
    display: inline;
    padding-left: 10px;
  }
  a {
    color:white;
  }
}

